logger = "logger"
logservice = "snlua"
logpath = "logs"
loglevel = "DEBUG"

cfg = "config.lua"

harbor = 0
start = "sysmgr"
bootstrap = "snlua bootstrap"
lualoader = "skynet/lualib/loader.lua"

lua_path = "lualib/?.lua;"..
           "lualib/?/init.lua;"..
           "skynet/lualib/?.lua;"..
           "skynet/lualib/?/init.lua;"..
           "app/?/entry.lua;"..
           "app/?/entry.luac"

luaservice = "service/?.lua;"..
             "skynet/service/?.lua"

lua_cpath = "bin/?.so;"..
            "bin/prebuilt/?.so"
cpath = "bin/?.so"

thread = 3
-- memlimit = 200*1024*1024
-- daemon = "./skynet.pid"
