[Unit]
Description=Frp Client Service
Wants=network.target
After=network.target

[Service]
WorkingDirectory=WORKING_DIR
ExecStart=WORKING_DIR/bin/prebuilt/frpc -c ./run/frpc.ini
ExecReload=WORKING_DIR/bin/prebuilt/frpc reload -c ./run/frpc.ini
RestartSec=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target
